{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bitcoinology</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3"></span>
    <span class="site-heading-lower"><b>Bitcoinology</b></span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <!-- <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="pred/">Predictions</a>
          </li> -->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="news/">News & Analytics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>


          <section class="page-section" id="services">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase"><font color="white">QUICK INTRODUCTION</font></h2>
                  <br>
                  <br>
                </div>
              </div>
              <br>
              <br>
              <br>
        
        
              <div class="row text-center">
                <div class="col-md-2">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading"><font color="white"></font></h4><br>
                  <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="" width="80%" alt="">
                  <p class="text-muted"><font color="white"></font></p>
                </div>
                <div class="col-md-4" align="center">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading"><font color="white">WHEN WAS IT FOUNDED</font></h4>
                  <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/bday.gif' %}" width="80%" alt="">
                  <p class="text-muted"><font color="white">3 January 2009 (11 years ago)</font></p>
                </div>
                
                <div class="col-md-5">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading"><font color="white">WHAT IS IT</font></h4><br>
                  <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/bitcoin-gif.gif' %}" width="80%" alt="">
                  <p class="text-muted"><font color="white">Bitcoin is a digital cryptocurrency.</font></p>
                </div>
                <div class="col-md-3">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading"><font color="white"></font></h4><br>
                  <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="" width="80%" alt="">
                  <p class="text-muted"><font color="white"></font></p>
                </div>
                <div class="col-md-6">
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading"><font color="white">WHO FOUNDED IT</font></h4><br>
                  <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/founder.gif' %}" width="80%" alt="">
                  <p class="text-muted"><font color="white">Satoshi Nakamoto</font></p>
                </div>
              </div>
            </div>
          </section>
        
          <br>
          



  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><font color="white">FEATURES</font></h2>
          <h3 class="section-subheading text-muted"></h3>
          <br>
          <br>
          <br>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/2.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#1</font></h4>
                  <h4 class="subheading" ><font color="white">DECENTRALIZED</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Traditional money is controlled by banks and governments – which makes it a “centralized” currency.

                    Bitcoin is not controlled or regulated by any single entity like a bank – which makes it a “decentralized” currency. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/5.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#2</font></h4>
                  <h4 class="subheading"><font color="white">FAST</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">It normally takes just a few minutes for someone on the other side of the world to receive the money as there is no third party involved. On the other hand, traditonal banking transfers can take upto several days. A Bitcoin address can be setup in seconds. Payments are proccesed in real time. </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/3.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#3</font></h4>
                  <h4 class="subheading"><font color="white">TRANSPARENCY</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Bitcoin stores details of every transaction that ever happened in the network in the blockchain.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/6.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#4</font></h4>
                  <h4 class="subheading"><font color="white">DIVISIBILITY</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Old fashioned money can be spent only in amounts as small as a single cent (so up to 2 decimal places).

                    Bitcoin can be spent in much smaller amounts, called Satoshis (all the way up to 8 decimal places). This means that it can be used even for tiny purchases.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/4.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#5</font></h4>
                  <h4 class="subheading"><font color="white">LOW FEES</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">No transaction fees.<br> Minimal conversion fees.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'img/1.jpg' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4><font color="white">#6</font></h4>
                  <h4 class="subheading"><font color="white">SECURE</font></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Bitcoin uses cryptography to securely send payments. That’s why Bitcoin is called a cryptocurrency. The code is so strong that tampering is virtually impossible. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Thats 
                  <br>all
                  <br>folks!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>

  
  
  <h2 class="section-heading text-uppercase" align="center"><font color="white"> SOME FUN FACTS</font></h2>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/hi.gif' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower"> There will only ever be 21 million bitcoins.</span>
          </h2>
          <p class="mb-3">At present, 16.3 million have already been mined and are being traded. The last bitcoin will be mined in 2140. After that, no new bitcoins can be mined.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">FUN FACT 1</a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>



  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Fun Fact 2</span>
              <span class="section-heading-lower"></span>
            </h2>
          </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/pizza1.gif' %}" width="80%" alt="">
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">On May 22, 2010, now known as Bitcoin Pizza Day, Laszlo Hanyecz agreed to pay 10,000 Bitcoins for two delivered Papa John's pizzas. Organized on bitcointalk forum, the Florida man reached out for help. "I'll pay 10,000 bitcoins for a couple of pizzas.. like maybe 2 large ones so I have some left over for the next day," Hanyecz wrote.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  


  
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><font color="white">HOW DOES BITCOIN WORK?</font></h2>
          <br>
          <br>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>


      <div class="row text-center">
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><font color="white">STEP 1:</font></h4>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/one.jpg' %}" width="80%" alt="">
          <p class="text-muted"></p>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><font color="white">STEP 2:</font></h4>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/two.jpg' %}" width="80%" alt="">
          <p class="text-muted"></p>
        </div>
        
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><font color="white">STEP 3:</font></h4>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/three.jpg' %}" width="80%" alt="">
          <p class="text-muted"></p>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading"><font color="white">STEP 4:</font></h4>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/four.jpg' %}" width="80%" alt="">
          <p class="text-muted"></p>
        </div>
      </div>
    </div>
  </section>




  <!-- <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Convertion</span>
              
            </h2>
            
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Creators: <br> Phalguni Kamani <br> Ashrith Sridhar <br> Rajath S</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %"></script>

</body>

</html>
